@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  font-family: "Poppins", sans-serif;
}

html,
body {
  max-width: 100vw;
  overflow-x: hidden;
  font-family: "Poppins", sans-serif;
}

body {
  color: rgb(var(--foreground-rgb));
  background: linear-gradient(
      to bottom,
      transparent,
      rgb(var(--background-end-rgb))
    )
    rgb(var(--background-start-rgb));
}

a {
  color: inherit;
  text-decoration: none;
}

@media (prefers-color-scheme: dark) {
  html {
    color-scheme: dark;
  }
}

.login__card {
  display: block;
  width: 100%;
  max-width: 350px;
  margin: 25px auto;
  padding: 10px;
}
.text-center {
  text-align: center;
}
.mb-4 {
  margin-bottom: 20px;
}
.login__card img {
  display: block;
  margin: 0 auto 10px;
}
.btn {
  width: 100%;
  background-color: #cd4973 !important;
  color: #fff !important;
}
.css-1fwnb9c .MuiTextField-root {
  margin: 10px auto !important;
}
.css-1q39md6-MuiButtonBase-root-MuiButton-root {
  color: #404041 !important;
  text-transform: capitalize;
}
.css-hip9hq-MuiPaper-root-MuiAppBar-root {
  background-color: #fff !important;
}
button.MuiButtonBase-root {
  color: #cd4973;
}
.css-17o22dy-MuiAvatar-root {
  background-color: #efefef;
}
.MuiBox-root.css-1t6c9ts {
  justify-content: end;
  margin-right: 8px;
}
.main__dashboard {
  display: block;
  width: 100%;
  max-width: 1200px;
  margin: 28px auto;
  overflow: unset !important;
}
.MuiDataGrid-root {
  box-shadow: none !important;
  border: none;
}
.clients__btn {
  width: max-content !important;
  background-color: #cd4973 !important;
  color: #fff !important;
}
.MuiBox-root.css-vtxhf1 {
  border-radius: 4px;
}
.css-10o2lyd-MuiStack-root > .MuiTextField-root,
.css-10o2lyd-MuiStack-root > .MuiPickersTextField-root {
  min-width: 225px !important;
  margin-top: 10px;
}
.css-ascpo7-MuiStepLabel-root {
  display: block;
}
.css-1u4zpwo-MuiSvgIcon-root-MuiStepIcon-root {
  margin: 0 auto;
  width: 30px;
  height: 30px;
}
body.__className_aaf875 {
  background: #f9f9f9;
}

h2#responsive-dialog-title {
  margin: 0px auto;
  font-size: 25px;
}
.MuiStack-root.css-10o2lyd-MuiStack-root {
  width: 100% !important;
  margin: 0;
  padding: 0;
  display: grid;
}
svg {
  color: #cd4973 !important;
}
.modalapp-body .MuiBox-root.css-8atqhb {
  padding: 24px 10px;
  margin: 4px auto;
}
.selectedUser.css-bhp9pd-MuiPaper-root-MuiCard-root {
  background-color: #cd497317;
  box-shadow: none;
}
.responsive-dialog {
  width: 100% !important;
  max-width: 634px !important;
  margin: 0 auto;
}
/* App.css or a separate CSS file */
@media print {
  body * {
    visibility: hidden;
  }
  .invoice-content,
  .invoice-content * {
    visibility: visible;
  }
  .invoice-content {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
  }
}
.grey_box {
  background-color: #f1f1f1;
  padding: 18px;
}
.spacer {
  margin: 18px 0;
}
.css-1f773le-MuiButtonBase-root-MuiAccordionSummary-root.Mui-expanded {
  background: #cd497338 !important;
  min-height: 50px !important;
}
.css-eqpfi5-MuiAccordionSummary-content.Mui-expanded {
  margin: 13px 0 !important;
}
.css-1f773le-MuiButtonBase-root-MuiAccordionSummary-root.Mui-expanded
  p.MuiTypography-root {
  color: #cd4973 !important;
  font-weight: 600;
  font-size: 15px;
}
div#panel1bh-header {
  border: 1px solid #e3e3e3;
}
.blue-strong {
  color: #4e5992;
  font-weight: 600;
}
p.grey_light {
  color: #5b5b5b;
  font-weight: 400;
  font-size: 15px;
}
.css-1x7skt0 {
  background-color: #ffffff !important;
}

.mui-1fwnb9c .MuiTextField-root {
  margin: 8px auto !important;
}
.mui-1t1j96h-MuiPaper-root-MuiDialog-paper {
  width: 100% !important;
}
.white{
  color: #fff !important;
}
.username {
  color: #373737;
}
.themeBg{
  background-color: #ffecec !important;
}